# Dependencies
node_modules/

# Logs
*.log

# Environment variables
.env*
!.env*.example

# Code coverage
coverage/

# Build output
build/
dist/

# Next.js build output
.next/
out/

# TypeScript build output
*.tsbuildinfo

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
